:root {
  --e-color-white: #fff;
  --e-color-black: #000;

  --e-color-text: #272935;
  --e-color-subtext: #8B8B87;

  --e-color-theme-lighter: #fdfcf6;
  --e-color-theme-light: #f5f3ec;
  --e-color-theme: #efeee5;
  --e-color-theme-dark: #e1e1db;
  --e-color-theme-darker: #d7d7cf;

  --e-color-key-1: #E36064;
  --e-color-key-1-dark: #d35256;
}

// Break Point
$bp-xs: 425px;
$bp-sm: 735px;
$bp-md: 900px;
$bp-lg: 1200px;
$bp-xl: 1600px;
